<div>
  <div id="intro" class="container p-5 mb-5">
    <div class="row">
      <div class="col-sm-12 mb-5">
        <h1 class="text-center mb-5">Export your fediverse data</h1>
        <details class="mt-4">
          <summary><strong>Mastodon</strong></summary>
          <ol class="mt-3">
            <li>
              Find the "Preferences" link in the sidebar.
            </li>
            <li>
              Look for the "Import and export" link in the sidebar.
            </li>
            <li>
              Click the "Request your archive" button.
            </li>
            <li>
              Once the archive is ready, you will receive an email. You can also go back to the "Import and export" page to find a download link.
            </li>
          </ol>
        </details>
        <details>
          <summary><strong>Firefish and Misskey</strong></summary>
          <ol class="mt-3">
            <li>
              Find the "Settings" link in the sidebar.
            </li>
            <li>
              Look for the "Import/Export Data" link in the sidebar.
            </li>
            <li>
              Click the "Export" button under "All posts".
            </li>
            <li>
              Your exported file will be available in your Drive. (Link is under "More" in the sidebar.)
            </li>
          </ol>
        </details>
        <details>
          <summary><strong>Friendica</strong></summary>
          <ol class="mt-3">
            <li>
              Click your profile picture in the top right corner, then click "Settings".
            </li>
            <li>
              Look for "Export personal data" in the sidebar.
            </li>
            <li>
              Click "Export all".
            </li>
          </ol>
        </details>
        <details>
          <summary><strong>Pixelfed</strong></summary>
          <ol class="mt-3">
            <li>
              Visit the profile edit page.
            </li>
            <li>
              Look for "Export" in the sidebar.
            </li>
            <li>
              Click the "Download" button next to "Statuses".
            </li>
          </ol>
        </details>
      </div>
      <div class="col-sm-12 text-start">
        More coming soon!
      </div>
      <div class="col-sm-12 mt-5 text-center">
        <img
          loading="lazy"
          width="373"
          height="153"
          src="/images/poser-illustrations/Files/PNG with transparency/Illustration 9.png"
          class="sticky-top mw-100"
          alt="An illustration of a person with long hair sitting at a desk, smiling and looking at a computer, with their finger hovering over a button."
        />
      </div>
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary mt-5" href="/">Explore your data</a>
      </div>
    </div>
  </div>
</div>