<div>
  <div id="intro" class="container p-5 mb-5">
    <div class="row">
      <div class="col-sm-12 mb-5">
        <h1 class="text-center mb-5">Privacy policy</h1>
        <p>
          Much like <a href="https://github.com/stefanbohacek">most of my work</a>, this project is <a href="https://github.com/stefanbohacek/fediverse-export-analyzer">fully open-source</a>. Your data is never stored on any of my servers and is only uploaded for formatting. All analysis happens in your browser.
        </p>
        <p>
          If you have any questions, concerns, or suggestions, feel free to <a href="https://stefanbohacek.com/contact/">reach out</a>!
        </p>
        <p class="">
          Thank you for visiting my project, and for being an active member of the fediverse!
        </p>
      </div>
      <div class="col-sm-12 mt-5 text-center">
        <img
          loading="lazy"
          width="282"
          height="366"
          src="/images/poser-illustrations/Files/PNG with transparency/Illustration 12.png"
          class="sticky-top mw-100"
          alt="..."
        />
      </div>
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary mt-5" href="/">Explore your data</a>
      </div>
    </div>
  </div>
</div>